html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(#141e30, #243b55);

}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

/* Estilo da barra lateral esquerda */
.sidebar {
    display: flex;
    justify-content: space-between;
  margin: 20px;
    align-items: center;

}

.sidebar ul {
    display: flex;
    list-style: none;
}

.sidebar ul li a{
    margin: 20px;
    padding: 8px;
}

.sidebar ul li a:hover{
    color: #f6f6f6;
    background-color: #045491;
    /*padding: 8px;*/
    border-radius: 8px;
}

.main-content {
  /*flex: 1;*/
  display: flex;
    flex-direction: column;
  margin: 20px;

}

footer {
    margin: 20px;
    text-align: center;
}